---
import { Image } from 'astro:assets';
import Layout from '../layouts/2023.astro';
import MailingListSignup from "../components/MailingListSignup.vue"

import Kronenhof from "../images/kronenhof.jpg"
import KronenhofWide from "../images/kronenhof-wide.jpg"
import Paul from "../images/paul.jpg"
import Eamo from "../images/eamo.jpg"

import Abby from "../images/abby.jpg"
import Casey from "../images/casey.jpg"

import Werner from "../images/werner.jpg"
import Tom from "../images/tom.jpg"
import Michael from "../images/michael.jpg"

import TickTockSection from "../components/TickTockSection.vue"
import SectionContent from "../components/SectionContent.vue"
import SectionHeader from "../components/SectionHeader.vue"
import SectionSubheader from "../components/SectionSubheader.vue"
---
<Layout title="This Next Thing 2023">
	<div class="pb-16 flex flex-col gap-2 items-center justify-center md:justify-start text-royal-blue">
		<h1 class="text-center font-medium md:font-light text-[1.2rem] md:text-[3rem] uppercase">A journey for the curious mind</h1>
		<p class="text-lg font-light md:font-normal">Pontresina, Switzerland, June 25–28, 2023</p>
	</div>

	<TickTockSection id="what" type="tock" class="pb-8">
		<SectionContent>
			<SectionHeader>Limited sponsorships and scholarships available</SectionHeader>

			<p>
				Open registration for This Next Thing is closed, and our room allocation in Grand Kronenhof Hotel is sold out. However, if you wish to sponsor, or can contribute to our scholarship fund, we have a limited number of places available with accommodation in the Saratz hotel next door.
			</p>
			<p>
				You can find out more information <a href="https://docs.google.com/document/d/1xx9VJdZkFsMyk-Hh311whbyZYfScOVeLGtOUUXx1Iro/edit?usp=sharing">at this Google doc</a>.
			</p>

			<p>
				Alternatively, join our list for more updates:
			</p>

			<MailingListSignup client:load />

		</SectionContent>
	</TickTockSection>
	<TickTockSection id="what" type="tick">
		<Image alt="Kronenhof" src={Kronenhof}/>
		<SectionContent>
			<SectionHeader>What?</SectionHeader>
			<p>
				This Next Thing is an event for curious-minded folks in tech, business, and beyond. Starting on June 25th, guests will choose their starting point: Zürich, Innsbruck, or Milan. A local warmup unconference will happen in the starter city, before departing the morning of the 26th toward Pontresina in the Eastern Swiss Alps.
			</p>

			<div class="mb-4">
				<p class="mb-0">
					The event is broken into three parts:
				</p>

				<ul class="list-disc list-outside ml-8 mb-4">
					<li>
						<strong class="font-heavy uppercase text-sm text-white">Day Zero</strong> <span class="uppercase text-sm">- Sunday, June 25</span>
						<br>
						 A <strong>warmup</strong> day, in your choice of starter city: Zürich, Innsbruck, or Milan.
					</li>
					<li>
						<strong class="font-heavy uppercase text-sm text-white">Day One</strong> <span class="uppercase text-sm">- Monday, June 26</span>
						<br>
						A <strong>travel</strong> day, from your starter city up into The Alps.
					</li>
					<li>
						<strong class="font-heavy uppercase text-sm text-white">Day Two</strong> <span class="uppercase text-sm">- Tuesday, June 27</span>
						<br>
						A <strong>fete</strong> day of talks, workshops, & social time.</li>
				</ul>

				<p>
					An optional <strong>Epilogue Day</strong>, Wednesday June 28 is available at your discretion and is not an official part of the event.
				</p>
			</div>

			<div class="mb-4">
				<p class="mb-0">Tickets to This Next Thing include:</p>

				<ul class="list-disc list-outside ml-8">
					<li>Dinner <strong>days zero, one, and two</strong></li>
					<li>Lunch <strong>days one and two</strong></li>
					<li>Breakfast <strong>days two and three</strong></li>
					<li>One-way <strong>transport</strong> to Pontresina.</li>
					<li>Accommodation <strong>days one and two</strong> in Pontresina</li>
				</ul>
			</div>

			<p>You can read <a href="/2023/guide">our booking guide</a> for more on what to book and what’s included.</p>

			<p>
				<a class="font-bold" href="https://en.wikipedia.org/wiki/Thing_(assembly)#Norway" target="_new">“Thing”</a> in its original sense was the gathering of people for lawmaking, socialising, and trade. This Next Thing will gather interesting and interested people, celebrating our relationships with the world, and exploring how those relationships should evolve.
			</p>
		</SectionContent>
	</TickTockSection>

	<TickTockSection id="who" type="tock" class="pb-4">
		<SectionContent>
			<SectionHeader>A little teaser</SectionHeader>
			<p>One of the funnest parts of Funconf was not giving too much away about the lineup and the schedule. Keeping things close to our chest is part of the surprise and delight of the show.</p>

			<div class="flex flex-col md:flex-row gap-4 mb-4">
				<a href="https://randsinrepose.com" class="flex flex-row md:flex-col gap-4 md:gap-0 flex-1 items-center justify-center hover:scale-105 cursor-pointer">
					<Image alt="Michael Lopp" src={Michael} class="rounded-full w-24" />
					<div class="flex flex-1 flex-col md:text-center">
						<strong>Michael Lopp aka Rands</strong>
						<small>Engineering Leader, Apple</small>
					</div>
				</a>

				<a href="https://tom.preston-werner.com" class="flex flex-row md:flex-col gap-4 md:gap-0 flex-1 items-center justify-center hover:scale-105 cursor-pointer">
					<Image alt="Tom Preston-Werner" src={Tom} class="rounded-full w-24" />
					<div class="flex flex-1 flex-col md:text-center">
						<strong>Tom Preston Werner</strong>
						<small>Co-founder, Preston Werner Ventures</small>
					</div>
				</a>

				<a href="https://www.allthingsdistributed.com" class="flex flex-row md:flex-col gap-4 md:gap-0 flex-1 items-center justify-center hover:scale-105 cursor-pointer">
					<Image alt="Werner Vogels" src={Werner} class="rounded-full w-24" />
					<div class="flex flex-1 flex-col md:text-center">
						<strong>Werner Vogels</strong>
						<small>CTO, Amazon</small>
					</div>
				</a>
			</div>
			<p>
				That said, for continuity, and to pass the baton as it were, we asked Michael Lopp, Tom Preston-Werner, and Werner Vogels back. Michael, Tom, and Werner did three-for-three at Funconf, and we’re delighted to see their return.
			</p>
		</SectionContent>
	</TickTockSection>

	<TickTockSection id="who" type="tick" class="pb-4">
		<SectionContent>
			<SectionHeader>Who?</SectionHeader>
			<p>
				"This Next Thing" is the spiritual successor to <a href="http://2012.funconf.com" target="_new">Funconf</a>, a series of conferences that featured 🚌 busses, 🚂 trains, 🏰 castles, 🚁 helicopters and 🏝️ an island in 🇮🇪 Ireland. Funconf was created by Paul and Eamo.
			</p>
			<div class="flex flex-col items-start justify-center gap-4 md:gap-8">
				<div class="flex flex-1 gap-4">
					<div class="flex flex-col gap-2 items-center justify-start w-24 min-w-min">
						<Image alt="Eamon Leonard" src={Eamo} class="rounded-full" />
						
					</div>

					<p class="flex-1">
						<a href="https://eamo.net" class="font-bold text-center">Eamon Leonard</a><br>
						Eamon is a founding parter of <a href="https://broadstone.vc">Broadstone</a>, a pre-seed investment firm based in Dublin. He has spent most of his career in early stage startupland developing and building products, leading teams, and creating communities.
					</p>
				</div>

				<div class="flex flex-1 gap-4">
					<div class="flex flex-col gap-2 items-center justify-start w-24 min-w-min">
						<Image alt="Paul Campbell" src={Paul} class="rounded-full" />
						
					</div>

					<p class="flex-1">
						<a href="https://www.linkedin.com/in/paulcampbell-tito/" class="font-bold text-center">Paul Campbell</a><br>
						Paul is the co-founder and CEO of Team Tito. Paul presides over the making of <a href="https://ti.to/">Tito</a>, an app for selling tickets online, and <a href="https://vi.to">Vito</a>, an app for building online communities. Paul also created Úll, a series of conferences inspired by Apple.
					</p>
				</div>
			
				<div class="flex flex-1 gap-4">
					<div class="flex flex-col gap-2 items-center justify-start w-24 min-w-min">
						<Image alt="Abby Phoenix" src={Abby} class="rounded-full" />
						
					</div>

					<p class="flex-1">
						<a href="https://mstdn.social/@aphoenix" class="font-bold text-center">Abby Phoenix</a><br>
						Abby is a consummate community conference connoisseur. She brings a wealth of logistical experience from prestigious events including <a href="https://rubyconf.org">RubyConf</a>, <a href="https://railsconf.org">RailsConf</a>, and <a href="https://codelandconf.com">Codeland</a>.
					</p>
				</div>
			</div>
		</SectionContent>
	</TickTockSection>

	<TickTockSection id="when" type="tock">
		<SectionContent>
			<SectionHeader>When?</SectionHeader>
			<p>
				🗓️
				Sunday, June 25–Wednesday June 28, 2023
			</p>

			<SectionSubheader>
				<strong class="font-heavy uppercase text-sm text-white">Day Zero</strong>
				Sunday, June 25 - Unconf
			</SectionSubheader>
			<p>
				Start in Innsbruck, Milan, or Zürich. In each of the starter cities will be a warmup unconference where you will mix with a third of the whole group. The unconf will offer guests the opportunity to speak, and will be convened by a local host.
			</p>

			<SectionSubheader>
				<strong class="font-heavy uppercase text-sm text-white">Day One</strong>
				Monday, June 26 - Travel, Check-in, and Chat
			</SectionSubheader>
			<p>
				Travel day. Depart your starter city not-too-early, not-too-late, for a trip with your new friends. A 3–4 hour ride first toward The Alps, and then up and up into them, towards Pontresina. Check-in to your hotel, then relax and unwind for a few hours before the evening session kicks off.
			</p>

			<SectionSubheader>
				<strong class="font-heavy uppercase text-sm text-white">Day Two</strong>
				Tuesday, June 27 - This Next Thing
			</SectionSubheader>

			<div class="mb-4 md:mb-8">
				<p>The main day. Like many things at this event, the day will be divided into three. Around and between the main sessions there will be opportunities and spaces to hang out, go for walks, do yoga, or just enjoy the summer Alpine setting.</p>

				<ul class="list-disc list-outside ml-8">
					<li>The <strong>morning session</strong> will take place in the convention centre and offer presentations with the whole group.</li>

					<li>In <strong>the afternoon</strong> we will spread out throughout the whole of the Kronenhof, where you will be invited to attend a series of workshops and conversations.</li>

					<li>Come <strong>evening</strong>, a grand banquet will top off the day, and we won’t be able to resist an after-dinner speech or two.</li>
				</ul>
			</div>

			<SectionSubheader>
				<strong class="font-heavy uppercase text-sm text-white">Day Three</strong>
				Wednesday, June 28 - Goodbyes
			</SectionSubheader>
			<p>
				Time to depart, or optionally stay another night in Pontresina to unwind. One last breakfast as a group, and the official run-of-events is done.
			</p>
		</SectionContent>
	</TickTockSection>

	<TickTockSection id="where" type="tick">
		<Image alt="Kronenhof" src={KronenhofWide}/>
		<SectionContent>
			<SectionHeader>Where?</SectionHeader>

			<SectionSubheader>June 25</SectionSubheader>
			<p>The warmup will take place in the centre of each starter city.</p>

			<SectionSubheader>June 26–28</SectionSubheader>
			<p>
				The venue is the <a href="https://www.kronenhof.com/en/" class="font-bold">Grand Hotel Kronenhof</a>, <a href="https://www.kronenhof.com/en/hotel/awards/" target="_top">one of the most highly-regarded hotels</a> in the world. Grand Hotel Kronenof is in the town of Pontresina, in the Eastern Swiss Alps.
			</p>

			<p>
				We will also host two sessions in the nearby <a href="https://www.saratz.ch/en/experience/convention-and-event-centre-by-saratz-pontresina" class="font-bold" target="_new">Pontresina convention centre</a>.
			</p>
		</SectionContent>
	</TickTockSection>

	<TickTockSection id="why" type="tock">
		<SectionContent>
			<SectionHeader>Why?</SectionHeader>
			<p>
				Because we believe that events like this should exist. Events, conferences, gatherings are an opportunity to learn, empower oneself and to be truly inspired, more efficiently than any other media.
			</p>
			<p>
				Further: we think events should spark serendipity. They should be full of little moments and shared experiences that create meaningful relationships.
			</p>

			<p>You can read more on our <a href="/2023/questions" class="font-bold">Questions</a> page.</p>
		</SectionContent>
	</TickTockSection>

	<section class="p-4 rotate-1 flex flex-col max-w-sm  m-auto gap-4 items-center justify-center bg-light-blue rounded-lg text-royal-blue mt-8">
    Registration is now closed.
  </section>
</Layout>
