---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"

import { getImage } from "astro:assets"
import mountains from "../images/2024/mountains.webp"
const optimizedMountains = await getImage({ src: mountains })

import Paul from "../images/2024/paul.jpg"
import Eamo from "../images/2024/eamo.jpg"
import Abby from "../images/2024/abby.jpg"

import Kronenhof from "../images/2023/kronenhof-front.jpg"
const optimizedKronenhof = await getImage({ src: Kronenhof })

---
<Layout title="This Next Thing">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex h-full">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
		<div class="mx-auto max-w-3xl py-4 flex flex-col gap-8 h-full">
			<div class="flex flex-col">
				<Image src={ThisNextThing} alt="This Next Thing" />
				Creative minds. Meaningful relationships. Magical experiences.
			</div>

			<div class="space-y-4">
				<p>
					This Next Thing is a non-profit organisation created to be a safe, inclusive community of folks who want to make a positive impact in the world. We started this in June 2023 with our inaugural event in Switzerland.
				</p>
			</div>

			<div class="space-y-4">
				<h2>The events</h2>

				<ul class="flex gap-4">
					<li class="flex-1 rounded overflow-hidden aspect-[16/9] bg-cover relative" style={`background-image: url('${optimizedKronenhof.src}')`}>
						<a href="/2023" class="text-xl absolute p-4 top-0 right-0 left-0 bottom-0 text-white drop-shadow bg-white bg-opacity-25 hover:bg-opacity-0">
							2023
						</a>
					</li>
					<li class="flex-1 rounded overflow-hidden aspect-[16/9] bg-cover relative" style={`background-image: url('${optimizedMountains.src}')`}>
						<a href="/2024" class="text-xl absolute p-4 top-0 right-0 left-0 bottom-0 text-white drop-shadow bg-white bg-opacity-25 hover:bg-opacity-0">2024</a>
					</li>
				</ul>
			</div>

			<div>
				<h2>The team</h2>
				<p>
					The organisation is led by Abigail Phoenix, Eamon Leonard, and Paul Campbell.
				</p>

				<div class="flex flex-col items-start justify-center gap-4 md:gap-8">
					<div class="flex flex-1 gap-4">
						<div class="flex flex-col gap-2 items-center justify-start w-24 min-w-min">
							<Image alt="Abigail Phoenix" src={Abby} class="rounded-full" />
						</div>

						<p class="flex-1">
							<a href="https://mstdn.social/@aphoenix" class="font-bold text-center">Abigail Phoenix</a><br>
							<em>Executive Director</em><br>
							Abby is a longtime conference organizer whose enthusiasm for community and connection is rivaled only by her love of the almighty spreadsheet. Her previous events include <a href="https://railsconf.org">RailsConf</a>, <a href="https://rubyconf.org">RubyConf</a>, and <a href="https://codelandconf.com">Codeland</a>.
						</p>
					</div>
					<div class="flex flex-1 gap-4">
						<div class="flex flex-col gap-2 items-center justify-start w-24 min-w-min">
							<Image alt="Eamon Leonard" src={Eamo} class="rounded-full" />
							
						</div>

						<p class="flex-1">
							<a href="https://eamo.net" class="font-bold text-center">Eamon Leonard</a><br>
							<em>Commercial Director</em><br>
							Eamon is a founding parter of <a href="https://broadstone.vc">Broadstone</a>, a pre-seed investment firm based in Dublin. He has spent most of his career in early stage startupland developing and building products, leading teams, and creating communities.
						</p>
					</div>

					<div class="flex flex-1 gap-4">
						<div class="flex flex-col gap-2 items-center justify-start w-24 min-w-min">
							<Image alt="Paul Campbell" src={Paul} class="rounded-full" />
						</div>

						<p class="flex-1">
							<a href="https://www.linkedin.com/in/paulcampbell-tito/" class="font-bold text-center">Paul Campbell</a><br>
							<em>Technical Director</em><br>
							Paul is the co-founder and CEO of Team Tito. Paul presides over the making of <a href="https://ti.to/">Tito</a>, an app for selling tickets online, and <a href="https://vi.to">Vito</a>, an app for building online communities. Paul also created Úll, a series of conferences inspired by Apple.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	p { @apply mb-4 }
	h1 { @apply font-bold text-[3rem] }
	h2 { @apply font-bold text-[1.5rem] mb-2 }
	h3 { @apply font-medium text-[1.2rem]  }
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
</style>
