---
import { Image } from 'astro:assets';

export interface Props {
  id: String,
  type: String
}

import Logo from "../images/2023/tnt-logo.svg"

import contours from "../images/2023/switzerland-contours.svg"
const { title } = Astro.props;
import MainMenu from "../components/MainMenu.vue"

const titoJsSrc = `https://js.tito.io/v2`

import Favicon from '../images/2023/favicon.png';
import Flux from '../images/2023/flux.svg';

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="any" href={Favicon} />
    <link rel="icon" type="image/svg+xml" href={Flux} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{title}</title>
    <meta name="description" content="The spiritual successor to Funconf">
    <script src={titoJsSrc} async></script>

    <script defer data-domain="thisnextthing.com" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-fixed md:bg-cover text-royal-blue">
    <div class="p-4 md:p-0 md:flex justify-center leading-0">
      <aside class="w-full w-[20rem] md:w-[26rem] p-8 m-auto md:m-0">
        <div class="md:sticky md:top-0 text-center">
          <a href="/2023">
            <Image src={Logo} alt="This Next Thing" class="md:-rotate-3 hover:scale-110 transition-all" />
          </a>
        </div>
      </aside>

      <main class="md:my-32">
        <slot />

        <footer class="flex flex-col items-center gap-4 justify-center py-16 px-4">
          <div class="flex items-center gap-4">
            <a class="text-blue-500" href="/2024">2024</a>
            <Image alt="" src={Flux} class="w-6"/>
            <a class="text-blue-500" href="/2023">Home</a>
            <Image alt="" src={Flux} class="w-6"/>
            <a class="text-blue-500" href="/2023/questions">Questions</a>
            <Image alt="" src={Flux} class="w-6"/>
            <a class="text-blue-500" href="/2023/guide">Booking guide</a>
          </div>

          <div class="flex items-center gap-4">
            <a class="text-blue-500" href="/2023/contact">Contact</a>
            <Image alt="" src={Flux} class="w-6"/>
            <a class="text-blue-500" href="/2023/code-of-conduct">Code of Conduct</a>
            <Image alt="" src={Flux} class="w-6"/>
            <a class="text-blue-500" href="/2023/supporters">Supporters</a>
          </div>

          <div class="flex flex-col items-center gap-4">
            <a class="text-blue-500" href="/2023/policies">Policies: Refunds, Covid-19, Family, Insurance, Privacy</a>
          </div>
        </footer>
      </main>

    </div>
  </body>
</html>

<style is:global define:vars={{ contours }}>
  body {
    background-image: url(/src/images/2023/switzerland-contours.svg);
  }

  p { margin-bottom: 1rem }
  a { @apply font-bold hover:underline }

  .tito-register-interest-name-field, .tito-register-interest-email-field { @apply text-royal-blue }
</style>